*{
    padding:  0;
    margin:  0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background-image: url(./simple-bookshelf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.container{
    width: 600px;
    height: 300px;
    display: block;
    text-align: center;
    padding: 10px 10px;
    transition: .4s;
    background: white;
    margin-top: 200px;
    display: none;
    
}
.hide{
    display:block;
}
.container input{
    width: 70%;
    height: 40px;
    padding:  0 5px;
}
#pages-number{
    width: 50px;
    height: 30px;
}
.container input, select{
    margin-top: 20px;
}
.container button{
    margin-top: 20px;
    border: none;
    height: 40px;
    width: 40%;
    background: #7c9ff7;
    color: white;
}
.header {
    display: flex;
    justify-content: space-around;
    background: white;
    height: 60px;
    padding: 5px 5px ;
    width: 100%;
}
.header button{
    border: none;
    height: 40px;
    width: 100px;
    background-color: #b01f35;
    color: white;
    cursor: pointer;
}
.header button i{
    padding-left: 5px;
}
.library{
    border: 1px solid black;
    height: 750px;
    width: 90%;
    background: white;
    top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 10px 10px;
    display: none;
    position: absolute;
    padding: 10px 10px;
    
    
    
}
.myDiv{
    border: 1px solid black;
    width: 300px;
    height: 300px;
    padding: 10px 10px;
    border-radius: 7px;
    
    
}
.myDiv P{
    margin-top: 20px;
}
.myDiv button{
    margin-top: 40px;
    border: none;
    height: 40px;
    width: 100px;
    background-color: #b01f35;
    color: white;
    cursor: pointer;
}
#View-btn{
    background: #2b80ff;
}.newDiv{
    position: absolute;
    width: 500px;
    height: 100px;
    padding: 10px 0;
    top: 30%;
    border: 1px solid;
}

.newDiv button{
    margin-top: 30px;
    float: right;
    margin-right: 10px;
    padding: 5px 5px;
}